<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label>Id, <mark>Estandar <span class="font-italic font-weight-bold">frm<span class="text-primary">Formulario</span></span></mark></label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="item.config.id" placeholder="Id">
            </div>
            <div class="form-group">
                <label>Separación</label>
                <table class="table table-striped table-hover table-sm bg-white">
                    <thead>
                        <tr>
                            <th>Ancho</th>
                            <th>Ancho SM</th>
                            <th>Ancho MD</th>
                            <th>Ancho LG</th>
                            <th>Ancho XL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="oh_editor_rangeOut">{{item.config.width}}</span><input type="range" class="form-control" min="-1" max="12" [(ngModel)]="item.config.width"></td>
                            <td><span class="oh_editor_rangeOut">{{item.config.widthSM}}</span><input type="range" class="form-control" min="-1" max="12" [(ngModel)]="item.config.widthSM"></td>
                            <td><span class="oh_editor_rangeOut">{{item.config.widthMD}}</span><input type="range" class="form-control" min="-1" max="12" [(ngModel)]="item.config.widthMD"></td>
                            <td><span class="oh_editor_rangeOut">{{item.config.widthLG}}</span><input type="range" class="form-control" min="-1" max="12" [(ngModel)]="item.config.widthLG"></td>
                            <td><span class="oh_editor_rangeOut">{{item.config.widthXL}}</span><input type="range" class="form-control" min="-1" max="12" [(ngModel)]="item.config.widthXL"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <label><i class="fas fa-code"></i> Evento enviar</label>
                <input type="text" class="form-control form-control-sm border border-info" [(ngModel)]="item.config.onSubmit" placeholder="Evento enviar">
            </div>
        </div>
        <div class="col-8">
            <div class="form-group">
                <label>Campos</label>
                <table class="table table-striped table-hover table-sm bg-white">
                    <thead>
                        <tr>
                            <th>Nro</th>
                            <th style="width:1rem"><a class="text-size-10 text-success" (click)="addRow(); $event.preventDefault();" href="#"><i class="fas fa-plus-square"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let row of item.config.rows; let i = index'>
                            <td>{{i+1}}</td>
                            <td><a class="text-size-10 text-danger" (click)="deleteRow(i); $event.preventDefault();" href="#"><i class="fas fa-eraser"></i></a></td>
                        </tr>
                    </tbody>
                </table>
                <a class="text-size-15 text-success" (click)="addRow(); $event.preventDefault();" href="#"><i class="fas fa-plus-square"></i></a>
            </div>
        </div>
    </div>
</div>