<ng-template [ngIf]="module == 1">
    <div class="input-group">
        <input type="text" #inp_fecha="ngModel" class="form-control" name="{{name}}" [(ngModel)]="fecha_hora_descripcion" readonly [required]="required">
        <div class="input-group-append">
            <button style="border-color: #6c757d;" *ngIf="!fecha_hora" [disabled]="disabled" class="btn btn-outline-danger" (click)="abrirModal()" [disabled]="disabled" type="button"><i class="far fa-calendar-alt"></i></button>
            <button style="border-color: #6c757d;" *ngIf="fecha_hora" [disabled]="disabled" class="btn btn-outline-success" (click)="abrirModal()" [disabled]="disabled" type="button"><i class="far fa-calendar-alt"></i></button>
        </div>
    </div>
    <div *ngIf="inp_fecha.invalid && (inp_fecha.dirty || inp_fecha.touched )" class="alert alert-danger alert-form">
        <ul>
            <li *ngIf="inp_fecha.errors.required">El campo es requerido.</li>
        </ul>
    </div>
</ng-template>
<ng-template [ngIf]="module == 2">
    <button style="border-color: #6c757d;" *ngIf="!fecha_hora" [disabled]="disabled" class="btn btn-outline-danger rounded-0 rounded-right" (click)="abrirModal()" [disabled]="disabled" type="button"><i class="far fa-calendar-alt"></i></button>
    <button style="border-color: #6c757d;" *ngIf="fecha_hora" [disabled]="disabled" class="btn btn-outline-success rounded-0 rounded-right" (click)="abrirModal()" [disabled]="disabled" type="button"><i class="far fa-calendar-alt"></i></button>
</ng-template>
<ng-template #modalSeleccion let-cl="close" let-di="dismiss">
    <div class="modal-header d-flex align-items-center">
        <span class="h5 m-0">Seleccionar Fecha y Hora {{title}}</span>
        <button class="close d-flex text-dark m-0 p-0" (click)="di('Cross click')"><i class="fas fa-times text-size-10"></i></button>
    </div>
    <div class="modal-body">
        <div style="text-align: center">
            <ngb-datepicker #dp [(ngModel)]="fecha" [minDate]="min_date" [maxDate]="max_date"></ngb-datepicker><br>
            <ngb-timepicker style="display: inline-block" #tm [(ngModel)]="hora" [meridian]="false"></ngb-timepicker>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-danger" (click)="di('CANCEL')"><i class="far fa-times-circle"></i> Cancelar</button>
        <button type="button" [disabled]="!hora || !fecha " class="btn btn-sm btn-success" (click)="cl('GUARDAR')"><i class="far fa-save"></i> Guardar</button>
    </div>
</ng-template>