<div class="container-fluid">
	<ngb-alert [hidden]="!(daysChange > 3)" [type]="'success'" [dismissible]="false">
		Su contraseña caducará en <strong>{{daysChange}}</strong> día(s)
	</ngb-alert>
	<ngb-alert [hidden]="!(daysChange <= 3 && daysChange>0)" [dismissible]="false">
		Su contraseña caducará en <strong>{{daysChange}}</strong> día(s)
	</ngb-alert>
	<ngb-alert [hidden]="!(daysChange == 0)" [type]="'danger'" [dismissible]="false">
		Su contraseña caducará hoy
	</ngb-alert>
	<ngb-alert [hidden]="!(daysChange < 0)" [type]="'danger'" [dismissible]="false">
		Su contraseña caducó hace <strong>{{(daysChange*-1)}}</strong> día(s)
	</ngb-alert>
	<form #frmChangePW="ngForm" class="form-enable" (ngSubmit)="submitChangePW(frmChangePW)" autocomplete="off">
	<div class="card">
		<div class="card-body">
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Contraseña actual</label>
				<div class="col-sm-8">
					<input id="pCurrent" name="pCurrent" #pCurrent="ngModel" [(ngModel)]="passwords.current" type="password" class="form-control" placeholder="Contraseña actual" autocomplete="new-password" required minlength="6" ohValidateEqualNc="{{coreService.data.user.password}}">
					<div *ngIf="pCurrent.invalid && (pCurrent.dirty || pCurrent.touched)" class="alert alert-danger alert-form">
						<ul>
							<li *ngIf="pCurrent.errors.required">Ingrese una clave correcta.</li>
							<li *ngIf="pCurrent.errors.minlength">La clave debe tener como mínimo 6 caracteres.</li>
							<li *ngIf="!pCurrent.errors.validateEqualNc">La clave ingresada no es igual a la actual.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Nueva contraseña</label>
				<div class="col-sm-8">
					<input id="pNew" name="pNew" #pNew="ngModel" [(ngModel)]="passwords.new" type="password" class="form-control" placeholder="Nueva contraseña" autocomplete="new-password" required pattern="^(?=.*[\d])(?=.*[A-Z])(?=.*[a-z])(?=.*[!\-_@#$%^&*])[\w!\-_@#$%^&*]{8,}$" ohValidateEqual="pRepeatNew" reverse="true" ohValidateEqualNc="{{coreService.data.user.password}}" reverseNc="true">
					<div *ngIf="pNew.invalid && (pNew.dirty || pNew.touched)" class="alert alert-danger alert-form">
						<ul>
							<li *ngIf="pNew.errors.required">Ingrese una clave correcta.</li>
							<li *ngIf="pNew.errors.validateEqualNc == false">La clave ingresada no debe ser igual a la anterior.</li>
							<li *ngIf="pNew.errors.pattern">La clave debe contener por lo menos
								<ul>
									<li>8 caracteres</li>
									<li>1 número</li>
									<li>1 caracter minúscula</li>
									<li>1 caracter mayúscula</li>
									<li>1 caracter especial (! - _ @ # $ % ^ & *)</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Repetir contraseña</label>
				<div class="col-sm-8">
					<input id="pRepeatNew" name="pRepeatNew" #pRepeatNew="ngModel" [(ngModel)]="passwords.repeatNew" type="password" class="form-control" placeholder="Repetir contraseña" autocomplete="new-password" required minlength="6" ohValidateEqual="pNew" reverse="false">
					<div *ngIf="pRepeatNew.invalid && (pRepeatNew.dirty || pRepeatNew.touched)" class="alert alert-danger alert-form">
						<ul>
							<li *ngIf="pRepeatNew.errors.required">Ingrese una clave correcta.</li>
							<li *ngIf="pRepeatNew.errors.minlength">La clave debe tener como mínimo 6 caracteres.</li>
							<li *ngIf="!pRepeatNew.errors.validateEqual">Debes repetir la misma clave.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card bg-light botoneraCard">
		<div class="card-body">
			<button type="submit" class="btn btn-primary mr-1" [disabled]="frmChangePW.invalid"><i class="fas fa-sync"></i> Cambiar</button>
			<button type="button" class="btn btn-outline-secondary" (click)="frmChangePW.resetForm({})"><i class="fas fa-eraser"></i> Limpiar</button>
		</div>
	</div>
	</form>
</div>