<div class="tis-listContent mb-3 noImpresion">
    <ul class="list-inline pt-2 pb-2 tis-lineDivide">
        <li class="list-inline-item pt-2 ml-3">
            <h5 class="vistaA">T.Cambio</h5>
            <h5 class="vistaBC">Tipos de Cambio</h5>
        </li>
        <li class="list-inline-item float-right mr-3 tis-dis-ifle">
            <button [routerLink]="['new']" type="button" class="btn btn-primary" placement="top" ngbTooltip="Nuevo Tipo de Cambio"><i class="fas fa-plus"></i> Nuevo</button>
        </li>
    </ul>
	<oh-filterTab [save]="'adm_exchangerate_list'" [(filter)]="filter" [template]="filterWindow" [length]="items.length" [obj_pagin]="pagin" (list)="gestipoCambioListar()"></oh-filterTab>
</div>
<div class="container-fluid noImpresion">
    <div class="tableContent">
        <table class="table table-striped table-hover bg-white">
            <thead>
                <tr>
                    <th scope="col" style="width:1rem"><i title="Editar" class="text-muted text-size-10 fas fas fa-edit"></i></th>
                    <th scope="col" style="width:1rem"><i title="Eliminar" class="text-muted text-size-10 fas fa-eraser"></i></th>
                    <th scope="col">Unidad de Negocio</th>
                    <th scope="col">Código de Moneda</th>
                    <th scope="col">Moneda Origen</th>
                    <th scope="col">Moneda Destino</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Cambio Venta</th>
                    <th scope="col">Fecha de Registro</th>
                    <th scope="col">Usuario de Registro</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-item [ngForOf]="items" let-i="index" let-odd="odd" [ngForTrackBy]="trackById">
                    <tr>
                        <td><a class="text-size-10 text-success" [routerLink]="['edit',item.tipo_cambio_id]"><i class="fas fas fa-edit"></i></a></td>
                        <td><a (click)="gestipoCambioEliminar(item); $event.preventDefault();" href="#" class=" text-danger text-size-10"><i class="fas fa-eraser"></i> </a></td>
                        <td>{{item.unidad_negocio_nombre}}</td>
                        <td>{{item.tipo_cambio_id}}</td>
                        <td>{{item.mona_abreviatura}}</td>
                        <td>{{item.monb_abreviatura}}</td>
                        <td>{{item.fecha | date: cse.config.formatDate}}</td>
                        <td>{{item.cambio_venta}}</td>
                        <td>{{item.fecha_registro | date: cse.config.formatDateTime}}</td>
                        <td><oh-thumbnail [id]="item.usuario_registro_id" [name]="item.usuario_registro_nombres" [lastName]="item.usuario_registro_apellidos"></oh-thumbnail></td>
                        <td><span class="badge badge-pill" [ngClass]="acs.data.estado[item.estado].badge"><i [class]="acs.data.estado[item.estado].icon"></i> {{acs.data.estado[item.estado].descripcion}}</span></td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>
<!-- Filtro -->
<ng-template #filterWindow let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            <i aria-hidden="true" class="fa fa-filter"></i> Filtrar
        </h4>
        <a href="#" class="close" aria-label="Close" (click)="$event.preventDefault(); d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </a>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group row">
                <label class="col-sm-3 col-lg-3 col-form-label"><strong>Unidad de Negocio:</strong></label>
                <div class="col-sm-9 col-lg-9">
                    <select class="form-control" [(ngModel)]="filter.field.unidad_negocio_id.value"
                        name="unidad_negocio" required="true">
                        <option *ngFor="let opcion of acs.data.unidad_negocio" [value]="opcion.unidad_negocio_id">{{opcion.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-lg-3 col-form-label"><strong>Código de Moneda:</strong> </label>
                <div class="col-sm-9 col-lg-9">
                    <input name="nombre" class="form-control" [(ngModel)]="filter.field.tipo_cambio_id.value" type="number">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-lg-3 col-form-label"><strong>Moneda Origen:</strong> </label>
                <div class="col-sm-9 col-lg-9">
                    <select class="form-control" [(ngModel)]="filter.field.moneda_primera_id.value"
                        name="moneda_primera_id" required="true">
                        <option *ngFor="let opcion of monedas" [value]="opcion.moneda_id">{{opcion.abreviatura}} - {{opcion.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-lg-3 col-form-label"><strong>Moneda Destino:</strong></label>
                <div class="col-sm-9 col-lg-9">
                    <select class="form-control" [(ngModel)]="filter.field.moneda_segunda_id.value"
                        name="moneda_segunda_id" required="true">
                        <option *ngFor="let opcion of monedas" [value]="opcion.moneda_id">{{opcion.abreviatura}} - {{opcion.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-lg-3 col-form-label"><strong>Fecha:</strong> </label>
                <div class="col-sm-9 col-lg-9">
                    <div class="input-group" style="max-width: 474px;">
                        <input class="form-control" placeholder="dd/mm/yyyy - dd/mm/yyyy" name="fecha" required="true"
                            [value]="(filter.field.fecha.initValue ? (filter.field.fecha.initValue | date: cse.config.formatDate) + ' - ' : '') + 
                            (filter.field.fecha.endValue ? (filter.field.fecha.endValue | date: cse.config.formatDate) : '')">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-light"
                                (click)="filter.field.fecha.collapsed = !filter.field.fecha.collapsed"
                                [attr.aria-expanded]="!filter.field.fecha.collapsed" aria-controls="collapseFecha"
                                style="color: #000;border: 1px solid #dacece;">
                                <i class="far fa-calendar-alt" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div id="collapseFecha" [ngbCollapse]="filter.field.fecha.collapsed"
                        style="position: absolute;background: #FFF;z-index: 99999;">
                        <oh-dateranges [(from)]="filter.field.fecha.initValue" [(to)]="filter.field.fecha.endValue"
                            (onChange)="changeRange(filter.field.fecha)"></oh-dateranges>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('cancel')">
            <i aria-hidden="true" class="fa fa-close"></i> Cancelar
        </button>
        <button type="submit" class="btn btn-outline-primary" (click)="c('doFilter')">
            <i aria-hidden="true" class="fa fa-filter"></i> Filtrar
        </button>
    </div>
</ng-template>