<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label>Id</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="item.config.id" placeholder="Id">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Enlace</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" [ngClass]="{'btn-outline-primary' : !item.config.valorLink.esEnlace, 'btn-primary' : item.config.valorLink.esEnlace}" (click)="$event.preventDefault(); item.config.valorLink.esEnlace = !item.config.valorLink.esEnlace"><i class="fas fa-assistive-listening-systems" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-sm border-primaryAPM" [(ngModel)]="item.config.valorLink.valor" placeholder="Valor">
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Texto</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" [ngClass]="{'btn-outline-primary' : !item.config.valorTexto.esEnlace, 'btn-primary' : item.config.valorTexto.esEnlace}" (click)="$event.preventDefault(); item.config.valorTexto.esEnlace = !item.config.valorTexto.esEnlace"><i class="fas fa-assistive-listening-systems" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-sm border-primaryAPM" [(ngModel)]="item.config.valorTexto.valor" placeholder="Valor">
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Ícono (De
                        <a href="https://fontawesome.com/icons?d=gallery&m=free" target="_blank">Font Awesome v5</a>)</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" [ngClass]="{'btn-outline-primary' : !item.config.valorIcono.esEnlace, 'btn-primary' : item.config.valorIcono.esEnlace}" (click)="$event.preventDefault(); item.config.valorIcono.esEnlace = !item.config.valorIcono.esEnlace"><i class="fas fa-assistive-listening-systems" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-sm border-primaryAPM" [(ngModel)]="item.config.valorIcono.valor" placeholder="Valor" (keyup)="validarIcono($event)">
                </div>
            </div>
        </div>
    </div>
</div>