<div class="tis-listContent mb-3 noImpresion">
    <ul class="list-inline pt-2 pb-2 tis-lineDivide">
        <li class="list-inline-item pt-2 ml-3">
            <h5 class="vistaBC">Listado de logs de emails</h5>
            <h5 class="vistaA">Logs</h5>
		</li>
    </ul>
    <ul class="list-inline" style="min-height: 3rem;">
        <li class="list-inline-item ml-3">
            <oh-filter [(filter)]="filter" [(template)]="objFilter" [showLight]="true"></oh-filter>
        </li>
        <li class="list-inline-item float-right mr-3 tis-dis-ifle">
            <span class="mt-1 mr-3">{{dateList.length}} de {{pagin_total}}<span class="vistaBC tis-dis-iblk">&nbsp;registros</span></span>
            <div class="tis-pagin">
                <ngb-pagination [collectionSize]="pagin_total" [(page)]="pagin_page" [maxSize]="pagin_size" (pageChange)="changeList()"></ngb-pagination>
            </div>
        </li>
    </ul>
</div>
<div class="container-fluid noImpresion">
    <div class="tableContent">
        <table class="table table-striped table-hover bg-white">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Destinatario</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Clicks de enlace</th>
                    <th scope="col">Mensaje</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dateList; let i = index">
                    <td>{{item.last_event_time | date: cse.config.formatDateTime}}</td>
                    <td>
                        {{item.to_email}}
                    </td>
                    <td>{{item.subject}}</td>
					<td>
                        <a href="#" (click)="$event.preventDefault(); verDetalle(item.msg_id)">
						<span *ngIf="item.status == 'processing'" class="badge badge-pill badge-outline-warning">
							<i class="fas fa-hourglass-half"></i> En proceso</span>
						<span *ngIf="item.status == 'delivered'" class="badge badge-pill badge-outline-success">
							<i class="fas fa-paper-plane"></i> Entregado</span>
						<span *ngIf="item.status == 'not_delivered'" class="badge badge-pill badge-outline-danger">
                            <i class="fas fa-exclamation-circle"></i> No Entregado</span>
                        </a>
					</td>
                    <td>{{item.opens_count}}</td>
                    <td><a (click)="mostrarMensaje(item.msg_id); $event.preventDefault();" href="#"><i class="fas fa-external-link-square-alt"> </i> Ver Mensaje</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #filterWindow let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">
			<i aria-hidden="true" class="fa fa-filter"></i> Filtrar</h4>
		<button type="button" class="close" aria-label="Close" (click)="c('Close')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Ámbitos</label>
                <div class="col-sm-9">
                    <input type="hidden" class="form-control" name="inp_ambito" required="true" [(ngModel)]="ambitosSeleccionados">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Ámbito</th>
                                <th scope="col" style="width:1rem"><i title="Principal" class="text-muted text-size-10 far fa-check-square"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ambito of ambitos; let i = index">
                                <th scope="row">{{ambito.proyecto}}</th>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="ambito_{{i}}" name="ambito_{{i}}" [(ngModel)]="ambito.seleccionado" [disabled]="!cse.tieneRol(['admin'])">
                                        <label class="custom-control-label" for="ambito_{{i}}">&nbsp;</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Estado</label>
                <div class="col-sm-9">
                    <div class="btn-group btn-group-toggle" style="display: block;" ngbRadioGroup name="inp_estado" [(ngModel)]="filter.field.estado.value">
                        <label ngbButtonLabel class="btn-outline-warning" title="En proceso">
                            <input ngbButton type="radio" [value]="'processing'"> <i class="fas fa-exclamation-triangle"></i> <span class="vistaBC">En proceso</span>
                        </label>
                        <label ngbButtonLabel class="btn-outline-success" title="Enviado">
                            <input ngbButton type="radio" [value]="'delivered'"> <i class="far fa-thumbs-up"></i> <span class="vistaBC">Enviado</span>
                        </label>
                        <label ngbButtonLabel class="btn-outline-danger" title="No enviado">
                            <input ngbButton type="radio" [value]="'not_delivered'"> <i class="far fa-times-circle"></i> <span class="vistaBC">No enviado</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Fecha de envio</label>
                <div class="col-sm-9">
                    [{{filter.field.fechaEnvio.initValue | date: cse.config.formatDate}} - {{filter.field.fechaEnvio.endValue | date: cse.config.formatDate}}]<br>
                    <oh-dateranges [(from)]="filter.field.fechaEnvio.initValue" [(to)]="filter.field.fechaEnvio.endValue"></oh-dateranges>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Destinatario</label>
                <div class="col-sm-9">
                    <input name="destinatario" class="form-control" [(ngModel)]="filter.field.destinatario.value" type="text" [(placeholder)]="filter.field.destinatario.label">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Titulo</label>
                <div class="col-sm-9">
                    <input name="titulo" class="form-control" [(ngModel)]="filter.field.titulo.value" type="text" [(placeholder)]="filter.field.titulo.label">
                </div>
            </div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('cancel')">
			<i aria-hidden="true" class="fa fa-close"></i> Cancelar</button>
		<button type="submit" class="btn btn-outline-primary" (click)="c('doFilter')">
			<i aria-hidden="true" class="fa fa-filter"></i> Filtrar</button>
	</div>
</ng-template>
<ng-template #modalDetalle let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            <i aria-hidden="true" class="fas fa-external-link-square-alt"></i> Detalle de envio</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <oh-steps [list]="detalleItem.eventsStatus"></oh-steps>
        <div class="tableContent mt-2 mb-1">
            <table class="table table-striped table-hover bg-white">
                <thead>
                    <tr>
                        <th scope="col">Destinatario</th>
                        <th scope="col">Título</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{detalleItem.to_email}}</td>
                        <td>{{detalleItem.subject}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tableContent">
            <table class="table table-striped table-hover bg-white">
                <thead>
                    <tr>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Recibido por</th>
                        <th scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let itemMail of detalleItem.events; let ind = index">
                        <td>
                            <span *ngIf="itemMail.event_name == 'processed'" class="badge badge-pill badge-outline-success">
                                <i class="fas fa-cog"></i> Procesado</span>
                            <span *ngIf="itemMail.event_name == 'delivered'" class="badge badge-pill badge-outline-success">
                                <i class="fas fa-paper-plane"></i> Entregado</span>
                            <span *ngIf="itemMail.event_name == 'deferred'" class="badge badge-pill badge-outline-warning">
                                <i class="fas fa-paper-plane"></i> Diferido</span>
                            <span *ngIf="itemMail.event_name == 'open'" class="badge badge-pill badge-outline-warning">
                                <i class="fas fa-eye"></i> Abierto</span>
                            <span *ngIf="itemMail.event_name == 'click'" class="badge badge-pill badge-outline-warning">
                                <i class="fas fa-hand-pointer"></i> Clickeado</span>
                            <span *ngIf="itemMail.event_name == 'bounce'" class="badge badge-pill badge-outline-danger">
                                <i class="fas fa-exclamation-circle"></i> No Entregado</span>
                            <span *ngIf="itemMail.event_name == 'dropped'" class="badge badge-pill badge-outline-danger">
                                <i class="fas fa-eraser"></i> Borrado</span>
                            <span *ngIf="itemMail.event_name != 'processed' && itemMail.event_name != 'delivered' && itemMail.event_name != 'deferred' && itemMail.event_name != 'open' && itemMail.event_name != 'click' && itemMail.event_name != 'bounce' && itemMail.event_name != 'dropped'" class="badge badge-pill badge-outline-danger">
                                <i class="fas fa-exclamation-circle"></i> itemMail.event_name</span>
                        </td>
                        <td>{{itemMail.processed | date: cse.config.formatDateTime}}</td>
                        <td>
                            <span *ngIf="!itemMail.mx_server">SendGrid</span>
                            <span *ngIf="itemMail.mx_server">{{itemMail.mx_server}}</span>
                        </td>
                        <td>
                            <span *ngIf="itemMail.event_name == 'processed'">Se procesó correctamente</span>
                            <span *ngIf="itemMail.event_name == 'delivered'">Se entregó correctamente</span>
                            <span *ngIf="itemMail.event_name == 'deferred'">Existió un retraso de envio</span>
                            <span *ngIf="itemMail.event_name == 'open'">El usuario ha abierto el correo</span>
                            <span *ngIf="itemMail.event_name == 'click'">El usuario ha dado click a un enlace del correo:<br>
                            <input type="text" class="form-control" disabled="disabled" value="{{itemMail.url}}" /></span>
                            <span *ngIf="itemMail.event_name == 'bounce'">No fue posible entregar el correo, <a *ngIf="!itemMail.showDetail" href="#" (click)="$event.preventDefault(); itemMail.showDetail = true">Ver detalle</a>
                            <textarea class="form-control" *ngIf="itemMail.showDetail">{{itemMail.reason}}</textarea>
                            </span>
                            <span *ngIf="itemMail.event_name == 'dropped'">El correo ha sido borrado, <a *ngIf="!itemMail.showDetail" href="#" (click)="$event.preventDefault(); itemMail.showDetail = true">Ver detalle</a>
                            <textarea class="form-control" *ngIf="itemMail.showDetail">{{itemMail.reason}}</textarea></span>
                            <span *ngIf="itemMail.event_name != 'processed' && itemMail.event_name != 'delivered' && itemMail.event_name != 'deferred' && itemMail.event_name != 'open' && itemMail.event_name != 'click' && itemMail.event_name != 'bounce' && itemMail.event_name != 'dropped'">{{itemMail.reason}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ngb-alert type="danger" [dismissible]="false" *ngIf="detalleItem.status == 'not_delivered'">Si el correo no ha sido enviado realizar una captura del error (dar click en <strong>Ver detalle</strong>) e informarlo al area de TI o proveedor de correo de la empresa del usuario, para su respectiva habilitación o corrección.</ngb-alert>
    </div>
    <div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('cancel')">
			<i aria-hidden="true" class="fa fa-close"></i> Cerrar</button>
    </div>
</ng-template>
<ng-template #modalDetalleCorreo let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            <i aria-hidden="true" class="fas fa-external-link-square-alt"></i> Correo
        </h4>
        <div class="custom-control custom-checkbox ml-4 mt-1">
            <input type="checkbox" class="custom-control-input" id="inp_reenviar" name="inp_reenviar" [(ngModel)]="correoReenviar">
            <label class="custom-control-label" for="inp_reenviar">Reenviar correo</label>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="c('Close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-enable">
            <div class="form-group row">
                <label class="col-form-label col-2 ">
                    <span>Destinatario</span>
                </label>
                <div class="col-10 ">
                    <span *ngIf="!correoReenviar">{{correoDetalle.destinatario}}</span>
                    <input *ngIf="correoReenviar" #inp_destinatario="ngModel" class="form-control" name="inp_destinatario" [(ngModel)]="correoDetalle.destinatario" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-2 ">
                    <span>Título</span>
                </label>
                <div class="col-10 ">
                    <span *ngIf="!correoReenviar">{{correoDetalle.titulo}}</span>
                    <input *ngIf="correoReenviar" #inp_titulo="ngModel" class="form-control" name="inp_titulo" [(ngModel)]="correoDetalle.titulo" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-2 ">
                    <span>Mensaje</span>
                </label>
                <div class="col-10 ">
                    <div *ngIf="!correoReenviar" [innerHTML]="correoDetalle.mensaje | ohSafeHtml"></div>
                    <angular-tinymce *ngIf="correoReenviar" formTinymce #inp_mensaje="ngModel" name="inp_mensaje" [(ngModel)]="correoDetalle.mensaje" [settings]="cse.tinymceConfig"></angular-tinymce>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button *ngIf="correoReenviar" type="button" class="btn btn-primary mr-2" (click)="reenviar()"><i class="fas fa-paper-plane"></i> Reenviar</button>
		<button type="button" class="btn btn-outline-dark" (click)="c('cancel')"><i aria-hidden="true" class="fa fa-close"></i> Cerrar</button>
    </div>
</ng-template>