<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label>Id</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="item.config.id" placeholder="Id">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Tipo</label><br>
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="item.config.type">
                    <label ngbButtonLabel class="btn-primary">
                        <input ngbButton type="radio" value="span"> Span
                    </label>
                    <label ngbButtonLabel class="btn-primary">
                        <input ngbButton type="radio" value="div"> Div
                    </label>
                </div>
            </div>
        </div>
        <div class="col-4" *ngIf="item.config.type == 'div'">
            <div class="form-group">
                <label>Tipo</label><br>
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="item.config.typeDiv">
                    <label ngbButtonLabel class="btn-primary">
                        <input ngbButton type="radio" value=""> Ninguno
                    </label>
                    <label ngbButtonLabel class="btn-primary">
                        <input ngbButton type="radio" value="container"> Contenedor
                    </label>
                    <label ngbButtonLabel class="btn-primary">
                        <input ngbButton type="radio" value="container-fluid"> Fluido
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>Contenido externo</label>
                <textarea class="form-control form-control-sm" [(ngModel)]="item.config.external" placeholder="Contendo externo"></textarea>
            </div>
        </div>
    </div>
</div>