<div class="tis-listContent mb-3 noImpresion">
    <ul class="list-inline pt-2 pb-2 tis-lineDivide">
        <li class="list-inline-item pt-2 ml-3">
            <h5 class="vistaA">Adjuntos</h5>
            <h5 class="vistaBC">Listado de Adjuntos</h5>
        </li>
        <li class="list-inline-item float-right mr-3 tis-dis-ifle">
            <button class="btn btn-primary" [routerLink]="['new']"><i class="fas fa-plus mr-1"></i> Nuevo</button>
        </li>
    </ul>
	<oh-filterTab [save]="'adm_attached_list'" [(filter)]="filter" [template]="filterWindow" [length]="adjuntosList.length" [obj_pagin]="pagin" (list)="gesadjuntoListar()"></oh-filterTab>
</div>
<div class="container-fluid noImpresion">
    <div class="tableContent">
        <table class="table table-striped table-hover bg-white">
            <thead>
                <tr>
                    <th scope="col" style="width:1rem"><i ngbTooltip="Ver" class="text-muted text-size-10 fas fa-eye"></i></th>
                    <th scope="col" style="width:1rem"><i ngbTooltip="Descargar" class="text-muted text-size-10 fas fa-download"></i></th>
                    <th scope="col" style="width:1rem"><i ngbTooltip="Eliminar" class="text-muted text-size-10 fas fa-eraser"></i></th>
                    <th scope="col">Código</th>
                    <th scope="col" style="min-width: 6rem;">Adjunto</th>
                    <th scope="col" class="tis-columnHide-sm">Peso (bytes)</th>
                    <th scope="col" class="tis-columnHide-sm">Fecha Registro</th>
                    <th scope="col" class="tis-columnHide-sm">Usuario Registro</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="adjuntosList.length == 0">
                    <td colspan="9">Sin Registros</td>
                </tr>
                <tr *ngFor="let adjuntoItem of adjuntosList">
                    <td>
                        <a *ngIf="adjuntoItem.estado != '0' && adjuntoItem.adjunto_id && adjuntoItem.es_descargable != false"
                            href="#" (click)="$event.preventDefault(); showFile(viewFile, adjuntoItem);"
                            class="text-size-10 text-info" ngbTooltip="Ver">
                            <i class="text-muted text-size-10 fas fa-eye"></i>
                        </a>
                        <a *ngIf="adjuntoItem.es_descargable == false" href="#" (click)="$event.preventDefault();"
                            class="text-size-10 text-info" ngbTooltip="No diponible">
                            <i class="text-muted text-size-10 fas fa-eye-slash" style="color:#AAA !important;"></i>
                        </a>
                    </td>
                    <td>
                        <a *ngIf="adjuntoItem.estado != '0' && adjuntoItem.adjunto_id && adjuntoItem.es_descargable != false"
                            href="#" (click)="$event.preventDefault(); gesadjuntoDescarga(adjuntoItem)"
                            class="text-size-10 text-info" ngbTooltip="Descargar">
                            <i class="text-muted text-size-10 fas fa-download"></i>
                        </a>
                        <a *ngIf="adjuntoItem.es_descargable == false" href="#" (click)="$event.preventDefault();"
                            class="text-size-10 text-info" ngbTooltip="No diponible">
                            <i class="text-muted text-size-10 fas fa-unlink" style="color:#AAA !important;"></i>
                        </a>
                    </td>
                    <td>
                        <a *ngIf="adjuntoItem.adjunto_id" href="#"
                            (click)="$event.preventDefault(); showConfirm(confirmEliminar, adjuntoItem);"
                            class="text-size-10 text-info" ngbTooltip="Eliminar">
                            <i class="text-muted text-size-10 fas fa-eraser" style="color:#c12c12 !important;"></i>
                        </a>
                    </td>
                    <td>{{adjuntoItem.adjunto_id}}</td>
                    <td class="tis-columnHide-sm">{{adjuntoItem.nombre}}</td>
                    <td class="tis-columnHide-sm">{{adjuntoItem.peso}}</td>
                    <td class="tis-columnHide-sm">{{adjuntoItem.fecha_registro | date: cse.config.formatDateTime}}</td>
                    <td><oh-thumbnail [id]="adjuntoItem.usuario_registro_id" [name]="adjuntoItem.usuario_registro_nombres" [lastName]="adjuntoItem.usuario_registro_apellidos"></oh-thumbnail></td>
                    <td>
                        <span *ngIf="adjuntoItem.estado == '0'" class="badge badge-pill badge-outline-danger">
                            <i class="fas fa-thumbs-down"></i> Inactivo
                        </span>
                        <span *ngIf="adjuntoItem.estado == '1'" class="badge badge-pill badge-outline-success">
                            <i class="far fa-thumbs-up"></i> Activo
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
    </div>
</div>
<!-- Filtro -->
<ng-template #filterWindow let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            <i aria-hidden="true" class="fa fa-filter"></i> Filtrar</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('cerrar')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Código de Adjunto</label>
                <div class="col-sm-9">
                    <input name="adjunto_id" class="form-control" [(ngModel)]="filter.field.adjunto_id.value"
                        type="number">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nombre de Adjunto</label>
                <div class="col-sm-9">
                    <input name="nombre" class="form-control" [(ngModel)]="filter.field.nombre.value" type="text">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('cancel')">
            <i aria-hidden="true" class="fa fa-close"></i> Cancelar</button>
        <button type="submit" class="btn btn-outline-primary" (click)="c('doFilter')">
            <i aria-hidden="true" class="fa fa-filter"></i> Filtrar</button>
    </div>
</ng-template>
<ng-template #viewFile let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Adjunto: <i>{{adjuntoSelected.nombre}}</i> </h5>
        <a href="#" class="close" aria-label="Close" (click)="$event.preventDefault(); d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </a>
    </div>
    <div class="modal-body tis-card-sm">
        <img src="{{data_file_64}}" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close')">Cancelar</button>
    </div>
</ng-template>
<ng-template #confirmEliminar let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Adjunto: <i>{{adjuntoSelected.nombre}}</i> </h5>
        <a href="#" class="close" aria-label="Close" (click)="$event.preventDefault(); d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </a>
    </div>
    <div class="modal-body tis-card-sm">
        <div *ngIf=!have_referencia>
            <span>¿Está seguro que desea eliminar este adjunto?</span>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input ng-untouched ng-dirty" type="checkbox" [(ngModel)]="check_del_file"
                     name="check_del_file" #checkDel ng-reflect-name="check_del_file" ng-reflect-is-disabled="true"
                    ng-reflect-model="true" id="check_del_file">
                <label class="custom-control-label" for="check_del_file">Remover el archivo fisico</label>
            </div>
        </div>
        <div *ngIf=have_referencia>
            <span>No se puede eliminar, este registro esta refenrenciado ({{referenciasList.length}}) en las siguientes
                tablas:</span>
            <br>
            <br>
            <table class="table table-striped table-hover bg-white"
                style="max-height: 370px; overflow-y: scroll; display: block;">
                <thead>
                    <tr>
                        <th scope="col" width="10%">Esquema</th>
                        <th scope="col" width="20%">Tabla</th>
                        <th scope="col" width="20%">Columna</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let referenciaItem of referenciasList">
                        <td>{{referenciaItem.esquema}}</td>
                        <td>{{referenciaItem.tabla}}</td>
                        <td>{{referenciaItem.columna}} (FK)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf=!have_referencia type="button" class="btn btn-outline-success"
            (click)="gesadjuntoEliminar(adjuntoSelected)">Eliminar</button>
        <button type="button" class="btn btn-outline-danger"
            (click)="c('Close')">{{!have_referencia ? "Cancelar" : "Cerrar"}}</button>
    </div>
</ng-template>