.box-main {
    position: relative;
    height: 100%;
    margin-left: 0px;
    overflow: hidden;
    background-color: #edf2f5;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    min-width: 360px;
}

@media print {
    .box-main {
        background-color: #ffffff;
    }
}

.box-mainPart {
    margin-left: 250px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

@media print {
    .box-mainPart {
        margin-left: 0px;
    }
}

.box-mainFull {
    margin-left: 0px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}